/MyXRProj-0217.code-workspace
/MyXRProj-0217.sln
/Library
/ProjectSettings
/obj
/Temp
/Unity.XR.Management
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
